*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#faf8f3;
color:#333;
line-height:1.6;
}

/* NAVBAR */

nav{
background:white;
padding:18px;
text-align:center;
box-shadow:0 2px 8px rgba(0,0,0,0.08);
position:sticky;
top:0;
z-index:1000;
}

nav a{
margin:0 18px;
text-decoration:none;
color:#333;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:#c8a96a;
}

/* HERO */

header{
height:75vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:url("curtain1.jpg") center/cover;
color:white;
}

header h1{
font-size:48px;
}

header p{
font-size:20px;
}

/* SECTION */

section{
padding:70px 20px;
text-align:center;
}

h2{
color:#c8a96a;
margin-bottom:20px;
}

/* SLIDER */

.slider{
max-width:900px;
margin:auto;
position:relative;
}

.slider img{
width:100%;
border-radius:12px;
}

.prev,.next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:white;
border:none;
padding:12px;
cursor:pointer;
border-radius:50%;
}

.prev{left:10px;}
.next{right:10px;}

/* GALLERY */

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.gallery img{
width:280px;
border-radius:12px;
transition:.4s;
}

.gallery img:hover{
transform:translateY(-8px);
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

/* CONTACT BOX */

.contact-box{
background:white;
padding:35px;
max-width:500px;
margin:auto;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

/* BUTTON */

.btn{
display:inline-block;
margin:10px;
padding:12px 28px;
border-radius:30px;
text-decoration:none;
color:white;
}

.whatsapp{ background:#25D366; }
.insta{ background:#E1306C; }

/* FOOTER */

footer{
background:#f1ede4;
padding:40px;
margin-top:40px;
}

.footer-container{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
}

.footer-box{
max-width:300px;
}

.footer-box h3{
color:#c8a96a;
margin-bottom:15px;
}

.footer-bottom{
text-align:center;
margin-top:25px;
font-size:14px;
}
