*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:'Poppins',sans-serif;
background:#111;
color:white;
}

/* NAVBAR */

nav{
position:sticky;
top:0;
background:rgba(0,0,0,0.8);
backdrop-filter:blur(10px);
padding:15px;
text-align:center;
border-bottom:1px solid gold;
z-index:1000;
}

nav a{
color:white;
margin:0 20px;
text-decoration:none;
font-weight:500;
transition:.3s;
}

nav a:hover{
color:gold;
}

/* HEADER HERO */

header{
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),
url('curtain1.jpg');
background-size:cover;
background-position:center;
}

header h1{
font-size:45px;
letter-spacing:2px;
}

header p{
color:#d4af37;
font-size:18px;
margin-top:10px;
}

/* SECTION */

section{
padding:70px 20px;
text-align:center;
}

h2{
color:gold;
margin-bottom:20px;
}

/* SLIDER */

.slider{
max-width:900px;
margin:auto;
position:relative;
}

.slider img{
width:100%;
border-radius:15px;
}

.prev,.next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:black;
color:white;
border:none;
padding:12px;
cursor:pointer;
border-radius:50%;
}

.prev{left:10px;}
.next{right:10px;}

/* GALLERY */

.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

.gallery img{
width:280px;
border-radius:15px;
transition:.4s;
}

.gallery img:hover{
transform:scale(1.08);
}

/* CONTACT BOX */

.contact-box{
background:#1c1c1c;
padding:40px;
max-width:500px;
margin:auto;
border-radius:15px;
}

/* BUTTON */

.btn{
display:inline-block;
margin:12px;
padding:12px 25px;
border-radius:30px;
text-decoration:none;
color:white;
}

.whatsapp{ background:#25D366; }
.insta{ background:#E1306C; }
.call{ background:#007bff; }

/* FLOAT WHATSAPP */

.float{
position:fixed;
bottom:25px;
right:25px;
background:#25D366;
color:white;
padding:15px 18px;
border-radius:50%;
font-size:22px;
text-decoration:none;
}

/* FOOTER */

footer{
background:#000;
padding:40px;
border-top:2px solid gold;
}

.footer-container{
display:flex;
flex-wrap:wrap;
justify-content:space-around;
}

.footer-box{
max-width:300px;
margin:10px;
}

.footer-box h3{
color:gold;
margin-bottom:15px;
}

.footer-bottom{
text-align:center;
margin-top:20px;
color:#aaa;
}
